<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://bootswatch.com/bower_components/bootstrap/dist/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
	integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
	integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
	crossorigin="anonymous"></script>
<script
	src="https://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<title>Projeto Pós Web</title>
</head>
<body>
	<div class="container">
		<h1>Listar Contato</h1>
		<div class="jumbotron">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nome</th>
						<th>Sobrenome</th>
						<th>E-mail</th>
						<th>Idade</th>
						<th>Telefone</th>
						<th>Ações</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="contato : ${contatos}">
						<td th:text="${contato.id}"></td>
						<td th:text="${contato.nome}"></td>
						<td th:text="${contato.sobreNome}"></td>
						<td th:text="${contato.email}"></td>
						<td th:text="${contato.idade}"></td>
						<td th:text="${contato.telefone}"></td>
						<td><a href="th:href=@{/contato/editar/(id=${prod.id})}"
							class="btn btn-box-tool center-block bg-blue" title="Visualizar"
							data-toggle="tooltip"> <i class="glyphicon glyphicon-edit"></i>
						</a></td>
						<td><a href="th:href=@{/contato/excluir/(id=${prod.id})}"
							class="btn btn-box-tool center-block bg-red"
							data-toggle="tooltip" title="Excluir"> <i
								class="glyphicon glyphicon-trash"></i>
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>